Курс 3 - Нейронные сети и глубокое обучение/3.5 Классификация погоды/data/weather_train.pt
Курс 3 - Нейронные сети и глубокое обучение/3.5 Классификация погоды/data/weather_valid.pt
Курс 3 - Нейронные сети и глубокое обучение/3.5 Классификация погоды/data/weather_test.pt
Курс 3 - Нейронные сети и глубокое обучение/3.6 Валидация и интерпретация моделей/test/weather_aug.pt

Курс 3 - Нейронные сети и глубокое обучение/3.7 Семантическая сегментация/data/train_masks/
Курс 3 - Нейронные сети и глубокое обучение/3.7 Семантическая сегментация/data/test/
