Курс 3 - Нейронные сети и глубокое обучение/3.3 Torch - Персептроны/data/
Курс 3 - Нейронные сети и глубокое обучение/3.4 Torch - Свёрточные сети/data/
Курс 3 - Нейронные сети и глубокое обучение/3.5 Классификация цветов и погоды/flowers/
Курс 3 - Нейронные сети и глубокое обучение/3.5 Классификация цветов и погоды/weather/
